<hr>
									</ul>			
								</div>		
							</div>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>© Eftychia Koletsou</li>
						</ul>
					</footer>

	</div>

		
</body>